<html>
	<head>
		<link rel="stylesheet" href="/app.css">
		<script src="/jquery.min.js"></script>
		<script src="/app.js"></script>
	</head>
	<body class="center">
		<h1>Hello kiddo, I'm your robot, come out and play :)</h1>
		<div class="unit1of1">
			<div class="unit1of2 center">
				<h2>See through my eyes</h2>
				<img src="/video.png" alt="robot webcam feed" class="videoFeed">
			</div>
			<div class="unit1of2 joystick center">
				<h2>Tell me where to go !</h2>
				<div class="unit1of1 center">
					<div id="forward" class="pad forward" data-direction="forward">
						<span>FORWARD</span>
					</div>
				</div>
				<% %w(left right).each do |dir| %>
					<div class="unit1of2 center">
						<div id="<%=dir%>" class="pad <%=dir%>" data-direction="<%=dir%>">
							<span><%=dir.capitalize%></span>
						</div>
					</div>
				<% end %>
				<div class="unit1of1 center">
					<div id="back" class="pad back" data-direction="back">
						<span>BACK</span>
					</div>
				</div>
			</div>
		</div>
		<div class="unit1of1 mtm center">
			<h2>Make me talk !</h2>
			<form>
				<textarea id="speachBox" name="speachbox" class="speachBox" placeholder="type something, I'll say it !"></textarea><br />
				<input type="submit" class="speachButn">
			</form>
		</div>
	</body>
</html>
